@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600&display=swap);
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-SemiBold.eot");
  src: local("☺"), url("../fonts/Recoleta-SemiBold.woff") format("woff"), url("../fonts/Recoleta-SemiBold.ttf") format("truetype"), url("../fonts/Recoleta-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
.title {
  color: #163A24;
  font-family: "Recoleta";
  font-weight: 600;
  font-size: 48px;
}

.subtitle {
  color: #163A24;
  font-size: 18px;
  line-height: 150%;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body, html {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 98px;
  background-color: #163A24;
  padding: 20px 60px 20px 15px;
  color: #FBFAF7;
}

.header__container {
  max-width: 1230px;
  margin: 0 auto;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 153px;
  height: 58px;
}

.header__contacts {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.header__text {
  display: flex;
}

.header__login a {
  color: #FBFAF7;
}
.header__login a:hover {
  color: #cececb;
}

.header__number {
  margin: 0px 0px 0px 24px;
}
.header__number a {
  color: #FBFAF7;
}
.header__number a:hover {
  color: #cececb;
}

.header__button {
  margin: 0px 0px 0px 24px;
}
.header__button a {
  width: 141px;
  height: 52px;
  color: #FBFAF7;
  background: #198C36;
  border-radius: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition-duration: 0.4s;
}
.header__button a:hover {
  transition-duration: 0.4s;
  background: #136b29;
}
.header__button a:active {
  top: 5px;
  transition-duration: 0.4s;
}

/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .header {
    padding: 20px 15px 20px 15px;
  }

  .header__text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }

  .header__number {
    margin: 0px 0px 0px 0px;
  }

  .header__login {
    text-align: end;
    margin: 0px 0px 5px 0px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .header {
    padding: 20px 10px 20px 10px;
  }

  .header__text {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
  }

  .header__contacts {
    display: flex;
    flex-direction: column-reverse;
  }

  .header__login {
    text-align: end;
    margin: 0px 10px 0px 0px;
  }

  .header__logo img {
    width: 120px;
    height: 58px;
  }
}
.welcome {
  padding: 0 15px;
  background-color: #163A24;
  margin: 0px 0px 110px 0px;
}

.welcome__container {
  max-width: 1230px;
  margin: 0 auto;
}

.welcome__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.welcome__description {
  padding: 120px 0px 0px 0px;
}

.welcome__title {
  width: 391px;
  color: #FBFAF7;
  margin: 0px 0px 18px 0px;
}

.welcome__subtitle {
  width: 475px;
  color: #FBFAF7;
  margin: 0px 0px 129px 0px;
}

.welcome__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .welcome {
    margin-bottom: calc(40px + (110 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .welcome__image img {
    width: 40, 65040650406504%;
    height: 527px;
    object-fit: cover;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .welcome__image img {
    width: 34, 30894308943089%;
    height: 510px;
    object-fit: cover;
  }

  .welcome__subtitle {
    width: 321px;
  }

  .welcome__title {
    width: 332px;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .welcome__row {
    display: flex;
    flex-direction: column;
  }

  .welcome__image {
    text-align: center;
  }

  .welcome__image img {
    width: 36, 82926829268293%;
    height: 27, 96747967479675%;
  }

  .welcome__subtitle {
    width: 100%;
    margin: 0px 0px 60px 0px;
    text-align: center;
  }

  .welcome__title {
    width: 100%;
    text-align: center;
  }

  .welcome__description {
    padding: 90px 0px 0px 0px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .welcome__description {
    padding: 90px 15px 0px 15px;
  }

  .welcome__title {
    width: 100%;
  }

  .welcome__subtitle {
    width: 95%;
    color: #FBFAF7;
    margin: 0px 0px 75px 0px;
  }

  .welcome__image img {
    width: 23, 82113821138211%;
    height: 344px;
    object-fit: cover;
  }
}
@media (max-width: 320px) {
  .welcome__subtitle {
    width: 100%;
    margin: 0px 0px 60px 0px;
  }
}
.description {
  margin: 0px 15px 100px 15px;
}

.rowone-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowone-item__image {
  margin: 0px 98px 0px 0px;
}
.rowone-item__image img {
  width: 41, 69491525423729%;
  height: 510px;
}

.rowone-item__text {
  width: 30%;
}

.rowone-item__title {
  width: 27, 54237288135593%;
  margin: 0px 0px 27px 0px;
}

.rowone-item__subtitle {
  width: 31, 69491525423729%;
}

.rowtwo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowtwo-item__text {
  width: 30%;
}

.rowtwo-item__title {
  width: 31, 86440677966102%;
  margin: 0px 0px 27px 0px;
}

.rowtwo-item__subtitle {
  width: 32, 20338983050847;
}

.rowtwo-item__image {
  margin: 0px 0px 0px 98px;
}
.rowtwo-item__image img {
  width: 41, 69491525423729%;
  height: 423px;
}

@media (max-width: 1200px) {
  .description {
    margin-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .rowone-item__image {
    margin: 0px 40px 0px 0px;
  }
  .rowone-item__image img {
    height: 415px;
  }

  .rowtwo-item__image {
    margin: 0px 0 0px 40px;
  }
  .rowtwo-item__image img {
    height: 360px;
  }

  .rowone-item__text {
    width: 45%;
  }

  .rowtwo-item__text {
    width: 45%;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .description__rowone {
    margin: 0px 0px 50px 0px;
  }

  .rowone-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .rowtwo-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .rowone-item__image {
    margin: 0px 0 15px 0px;
  }
  .rowone-item__image img {
    height: 400px;
  }

  .rowtwo-item__image img {
    height: 330px;
  }

  .rowone-item__title {
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .rowtwo-item__title {
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  .rowone-item__text {
    width: 82%;
  }

  .rowtwo-item__text {
    width: 82%;
  }

  .rowone-item__subtitle {
    text-align: center;
  }

  .rowtwo-item__subtitle {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .rowtwo-item__image {
    margin: 0px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .rowone-item__image img {
    height: 310px;
  }

  .rowtwo-item__image img {
    height: 252px;
  }

  .rowone-item__text {
    width: 100%;
  }

  .rowtwo-item__text {
    width: 100%;
  }
}
/* Iphone 5 */
.partners {
  padding: 0 142px;
  margin: 0px 0px 125px 0px;
}

.partners__title {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.partners__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .partners {
    padding-right: calc(15px + (142 - 15) * ((100vw - 320px) / (1180 - 320)));
    padding-left: calc(15px + (142 - 15) * ((100vw - 320px) / (1180 - 320)));
    margin-bottom: calc(25px + (125 - 25) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .partners__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .partners__image img {
    margin: 0px 30px 15px 0px;
  }

  .partners__title {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 480px) {
  .partners__title {
    margin: 0px 0px 30px 0px;
  }
}
.production {
  padding: 66px 15px 129px 15px;
  background-color: #163A24;
}

.production__title {
  text-align: center;
  color: #FBFAF7;
  margin: 0px 0px 74px 0px;
}

.production__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  width: 100%;
}

.production-item {
  text-align: center;
}

.production-item__image {
  margin: 0px 0px 21px 0px;
}
.production-item__image img {
  width: 10, 56910569105691%;
}

.production-item__text {
  width: 16, 9756097560976%;
  color: #FBFAF7;
}

@media (max-width: 1200px) {
  .production {
    padding-top: calc(40px + (66 - 40) * ((100vw - 320px) / (1180 - 320)));
    padding-bottom: calc(35px + (129 - 35) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .production__row {
    padding: 0 40px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .production__row {
    padding: 0;
  }

  .production-item {
    padding: 0px 15px 0px 0px;
  }
  .production-item:last-child {
    padding: 0;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .production__row {
    padding: 0;
    flex-wrap: wrap;
  }

  .production-item {
    width: 50%;
    margin: 0px 0px 40px 0px;
  }

  .production-item__text {
    padding: 0 15px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .production-item__image img {
    width: 55%;
  }

  .production__title {
    margin: 0px 0px 60px 0px;
  }

  .production__row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .production-item {
    width: 50%;
  }
}
.people {
  padding: 115px 15px 135px 15px;
  background-color: #F2EFE6;
  margin: 0px 0px 120px 0px;
}

.people__title {
  display: flex;
  justify-content: center;
  margin: 0px 0px 27px 0px;
}
.people__title h2 {
  width: 70%;
  text-align: center;
}

.people__text {
  display: flex;
  justify-content: center;
  margin: 0px 0px 15px 0px;
}
.people__text p {
  width: 65%;
  text-align: center;
}

.people__image {
  display: flex;
  justify-content: center;
}
.people__image img {
  width: 100%;
  height: 335px;
}

@media (max-width: 1200px) {
  .people {
    padding: 115px 15px 135px 15px;
    margin-bottom: calc(40px + (120 - 40) * ((100vw - 320px) / (1180 - 320)));
    padding-top: calc(40px + (115 - 40) * ((100vw - 320px) / (1180 - 320)));
    padding-bottom: calc(40px + (135 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .people__title h2 {
    width: 96%;
  }

  .people__text p {
    width: 85%;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .people__title h2 {
    width: 100%;
  }

  .people__text p {
    width: 100%;
  }

  .people__image img {
    object-fit: cover;
    width: 147%;
    height: 415px;
    padding: 0 94px 0 0px;
  }

  .people {
    overflow-x: hidden;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .people__image img {
    object-fit: cover;
    width: 147%;
    height: 291px;
    padding: 0 66px 0 0px;
  }

  .people {
    margin: 0px 0px 60px 0px;
    padding: 60px 0px 60px 0px;
  }

  .people__title {
    padding: 0 15px;
  }

  .people__text {
    padding: 0 15px;
  }
}
.scenes {
  padding: 0 15px;
  margin: 0px 0px 120px 0px;
}

.scenes__row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.scenes__description {
  width: 28%;
  padding: 90px 0px 0px 0px;
  margin: 0px 112px 0px 0px;
}

.scenes__title {
  margin: 0px 0px 27px 0px;
}

.scenes__image img {
  width: 100%;
  height: 423px;
}

@media (max-width: 1200px) {
  .scenes {
    margin-bottom: calc(40px + (120 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .scenes__description {
    width: 40%;
    padding: 90px 0px 0px 0px;
    margin: 0px 50px 0px 0px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .scenes__description {
    width: 65%;
    padding: 80px 0px 0px 0px;
    margin: 0px 20px 0px 0px;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .scenes__row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .scenes__description {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0px;
  }

  .scenes__subtitle {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 480px) {
  .scenes__image img {
    width: 100%;
    height: 336px;
  }

  .scenes__description {
    padding: 0 10px;
  }
}
@media (max-width: 320px) {
  .scenes__image img {
    width: 100%;
    height: 336px;
    object-fit: cover;
  }
}
.help {
  padding: 0 15px;
  margin: 0px 0px 120px 0px;
}

.help__title {
  text-align: center;
  margin: 0px 0px 26px 0px;
}

.help__subtitle {
  text-align: center;
  margin: 0px 0px 18px 0px;
}

.help__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.help-item {
  width: 353px;
  background: #FBFAF7;
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
  align-self: flex-start;
  padding: 50px 10px 60px 40px;
}

.help-item__image {
  margin: 0px 0px 20px 0px;
}

.help-item__title {
  margin: 0px 0px 23px 0px;
}
.help-item__title h2 {
  font-size: 28px;
  line-height: 112%;
  color: #163A24;
  font-family: Recoleta;
}

.help-item__list ul li {
  color: #163A24;
  font-size: 16px;
  line-height: 22px;
  padding: 0px 0px 0px 20px;
  background: url("../img/icons/circle.svg") 0 8px no-repeat;
  margin: 0px 0px 15px 0px;
}
.help-item__list ul li:last-child {
  margin: 0;
}

@media (max-width: 1200px) {
  .help {
    margin-bottom: calc(40px + (120 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .help-item {
    width: 100%;
    padding: 50px 10px 60px 28px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .help-item {
    width: 95%;
    padding: 50px 10px 60px 20px;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .help__row {
    flex-direction: column;
    justify-content: none;
    width: 100%;
  }

  .help__column {
    display: flex;
    justify-content: center;
    margin: 0px 0px 30px 0px;
  }

  .help-item {
    width: 65%;
    padding: 50px 10px 60px 60px;
  }
  .help-item:last-child {
    margin: 0;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .help-item {
    width: 100%;
    padding: 50px 10px 30px 50px;
  }

  .help__title {
    margin: 0px 0px 12px 0px;
  }

  .help-item {
    width: 100%;
    padding: 30px 10px 20px 50px;
  }
}
.easy {
  padding: 120px 15px;
  background-color: #F2EFE6;
  margin: 0px 0px 119px 0px;
}

.easy__title {
  text-align: center;
  margin: 0px 0px 26px 0px;
}

.easy__subtitle {
  text-align: center;
  margin: 0px 0px 18px 0px;
}

.easy__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 0px 60px 0px;
}

.easy-item__columns {
  display: flex;
  align-items: center;
}

.easy-item__columnone {
  width: 62%;
  padding: 40px 27px 0px 0px;
}

.easy-item__subtitle {
  text-align: center;
  margin: 0px 0px 18px 0px;
}

.easy-item__title {
  font-size: 28px;
  text-align: center;
}

.easy-item__columntwo {
  padding: 0px 27px 0px 0px;
}

.easy__columnlast__content {
  width: 100%;
  height: 168%;
  background: url("../img/icons/arround.svg") 0 0/100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.easy__subtitlelast {
  width: 70%;
  margin: 0px 0px 34px 0px;
}

.easy__titlelast {
  font-size: 28px;
  text-align: center;
}

.easy__button {
  display: flex;
  justify-content: center;
}
.easy__button a {
  font-size: 16px;
  line-height: 22px;
  color: #FBFAF7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 52px;
  background-color: #198C36;
  border-radius: 160px;
}
.easy__button a:hover {
  text-shadow: 0px 0px 10px #fff;
}
.easy__button a:active {
  position: relative;
  top: 5px;
  background-color: #17782F;
  text-shadow: none;
}

@media (max-width: 1200px) {
  .easy {
    padding-top: calc(40px + (120 - 40) * ((100vw - 320px) / (1180 - 320)));
    padding-bottom: calc(40px + (120 - 40) * ((100vw - 320px) / (1180 - 320)));
    margin-bottom: calc(40px + (119 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
@media (min-width: 1200px) {
  .easy-item__columnone {
    width: 69%;
  }

  .easy__columnlast__content {
    height: 182%;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .easy__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 30px 0px;
  }

  .easy-item__columns {
    justify-content: center;
    flex-direction: column;
  }

  .easy-item__columnone {
    width: 70%;
    padding: 40px 0 0px 0px;
  }

  .easy-item__title {
    margin: 0px 0px 30px 0px;
  }

  .easy-item__columntwo {
    padding: 0;
    margin: 0px 0px 30px 0px;
  }

  .easy__column {
    width: 40%;
  }

  .easy__columnlast__content {
    width: 344px;
    height: 226px;
    text-align: center;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .easy__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 30px 0px;
  }

  .easy-item__columns {
    justify-content: center;
    flex-direction: column;
  }

  .easy-item__columnone {
    width: 60%;
    padding: 30px 0 0px 0px;
  }

  .easy-item__title {
    margin: 0px 0px 20px 0px;
  }

  .easy-item__columntwo {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }

  .easy__columnlast {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .easy__columnlast__content {
    width: 344px;
    height: 226px;
    text-align: center;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .easy__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 30px 0px;
  }

  .easy-item__columns {
    justify-content: center;
    flex-direction: column;
  }

  .easy-item__columnone {
    width: 60%;
    padding: 30px 0 0px 0px;
  }

  .easy-item__title {
    margin: 0px 0px 20px 0px;
  }

  .easy-item__columntwo {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }

  .easy__columnlast {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .easy__columnlast__content {
    width: 344px;
    height: 226px;
    text-align: center;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .easy-item__columnone {
    width: 73%;
    padding: 30px 0 0px 0px;
  }

  .easy__subtitlelast {
    width: 70%;
    margin: 0px 0px 15px 0px;
  }

  .easy__titlelast {
    margin: 0 0 30px 0;
  }

  .easy {
    padding: 60px 15px;
    margin: 0px 0px 60px 0px;
  }

  .easy__title {
    display: flex;
    justify-content: center;
    margin: 0px 0px 26px 0px;
  }
  .easy__title h2 {
    width: 50%;
  }

  .easy__subtitle {
    display: flex;
    justify-content: center;
  }
  .easy__subtitle p {
    width: 74%;
  }
}
@media (max-width: 320px) {
  .easy__title h2 {
    width: 52%;
  }

  .easy__subtitle {
    display: flex;
    justify-content: center;
  }
  .easy__subtitle p {
    width: 100%;
  }
}
.book {
  padding: 0 15px;
  margin: 0px 0px 145px 0px;
}

.book__row {
  display: flex;
  justify-content: space-evenly;
}

.book__column_one {
  width: 366px;
  padding: 136px 0px 0px 0px;
}

.book__title {
  margin: 0px 0px 25px 0px;
}

.book__subtitle {
  margin: 0px 0px 20px 0px;
}

.book__button a {
  font-size: 16px;
  color: #FBFAF7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 52px;
  background-color: #198C36;
  border-radius: 160px;
}
.book__button a:hover {
  text-shadow: 0px 0px 10px #fff;
}
.book__button a:active {
  position: relative;
  top: 5px;
  background-color: #17782F;
  text-shadow: none;
}

.book__image img {
  width: 100%;
  height: 440px;
}

@media (max-width: 1200px) {
  .book {
    margin-bottom: calc(40px + (145 - 40) * ((100vw - 320px) / (1180 - 320)));
  }
}
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .book {
    text-align: center;
  }

  .book__button {
    display: flex;
    justify-content: center;
  }

  .book__row {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .book__column_one {
    width: 100%;
    padding: 40px 0px 0px 0px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .book__image img {
    width: 90%;
    height: 100%;
  }

  .book__column_one {
    padding: 20px 0px 0px 0px;
  }
}
.start {
  padding: 20px 0px 0px 0px;
  background-color: #163A24;
}

.start__container {
  max-width: 1440px;
  margin: 0 auto;
}

.start__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.start__column_first {
  width: 300px;
  height: 395px;
}

.start__column_center {
  padding: 0 15px;
}

.start__title {
  text-align: center;
  color: #FBFAF7;
  margin: 0px 0px 26px 0px;
}

.start__subtitle {
  text-align: center;
  color: #FBFAF7;
  margin: 0px 0px 18px 0px;
}

.start__button {
  display: flex;
  justify-content: center;
}
.start__button a {
  font-size: 16px;
  color: #163A24;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 258px;
  height: 52px;
  background-color: #FAB5A0;
  border-radius: 160px;
}
.start__button a:hover {
  color: #0C1E13;
}
.start__button a:active {
  position: relative;
  top: 5px;
  background-color: #D69784;
  text-shadow: none;
}

.start__column_last {
  width: 300px;
  height: 395px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .start__column_last {
    width: 30%;
    height: 395px;
  }

  .start__column__center {
    width: 40%;
  }

  .start__column_first {
    width: 30%;
    height: 395px;
  }

  .start__row {
    overflow: hidden;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .start {
    padding: 0;
  }

  .start__column_last {
    width: 30%;
    height: 395px;
    margin: 0 0 0 -100px;
  }

  .start__column__center {
    width: 50%;
  }

  .start__column_first {
    width: 30%;
    height: 395px;
    margin: 0 0 0 -100px;
  }

  .start__row {
    overflow: hidden;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .start__column_last {
    margin: 0px 0 0 -130px;
  }

  .start__column_first {
    margin: 0px 0 0 -130px;
  }

  .start__column_center {
    width: 100%;
  }
}
.register {
  padding: 60px 20px;
  background-color: #F2EFE6;
}

.register__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register__text {
  width: 40%;
}

.register__title {
  margin: 0px 0px 26px 0px;
}

.register__signup {
  width: 50%;
}

.signup__input {
  margin: 0px 0px 15px 0px;
  display: flex;
  flex-wrap: nowrap;
}
.signup__input input {
  width: 590px;
  height: 50px;
  border-radius: 255px;
  font-size: 18px;
  padding: 10px 15px;
}
.signup__input a {
  position: relative;
  z-index: 2;
  font-size: 16px;
  color: #FBFAF7;
  width: 111px;
  height: 52px;
  background: #15762E;
  border-radius: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px -37px;
}

.signup__text {
  width: 88%;
}
.signup__text p {
  font-size: 14px;
}
.signup__text p span {
  color: #198C36;
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .signup__text {
    width: 100%;
  }

  .signup__input a {
    margin: 0px 0px 0px -112px;
  }

  .signup__input input {
    width: 96%;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .signup__text {
    width: 100%;
    padding: 0 15px 0 0;
  }

  .signup__input a {
    margin: 0px 0px 0px -112px;
  }

  .signup__input input {
    width: 96%;
  }

  .register__signup {
    width: 60%;
  }

  .register__text {
    margin: 0px 20px 0px 0px;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .signup__text {
    width: 91%;
  }

  .signup__input a {
    margin: 0px 0px 0px -112px;
  }

  .signup__input input {
    width: 96%;
  }

  .register__signup {
    width: 100%;
  }

  .register__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .register__text {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }

  .register {
    padding: 30px 15px;
    background-color: #F2EFE6;
  }
}
.footer {
  padding: 20px 15px 0 15px;
}

.footer__row_first {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
}

.row_first__logo img {
  width: 110px;
  height: 42px;
}

.row_first__title h2 {
  font-size: 25px;
  color: #163A24;
  font-family: "Recoleta";
  font-weight: 600;
}

.row_first__links {
  display: flex;
  align-items: center;
}
.row_first__links a {
  margin: 0px 0px 0px 14px;
}

.footer__row_second {
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F2EFE6;
}

.row_second__text p {
  font-size: 14px;
  line-height: 21px;
  color: #163A24;
}

.row_second__menu a {
  font-size: 14px;
  line-height: 19px;
  color: #198C36;
  margin: 0px 0px 0px 14px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .row_second__text {
    width: 60%;
  }

  .row_second__menu {
    width: 40%;
  }

  .footer__row_second {
    align-items: start;
  }
}
/* Landscape phones and portrait tablets, телефоны лопаты */
@media (max-width: 767px) {
  .row_second__text {
    width: 50%;
  }

  .row_second__menu {
    width: 50%;
    text-align: right;
  }

  .footer__row_second {
    align-items: start;
  }

  .row_first__title {
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
  }
}
/* Portrait phones and smaller типа моего 6s */
@media (max-width: 480px) {
  .footer__row_second {
    flex-direction: column-reverse;
  }

  .row_second__text {
    width: 100%;
    text-align: center;
  }

  .row_second__menu {
    width: 100%;
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
  .row_second__menu a {
    margin: 0 10px 0 0;
  }

  .footer__row_second {
    height: 96px;
  }

  .footer__row_first {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 0px 35px 0px;
  }
}
@media (max-width: 1200px) {
  .title {
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1180 - 320)));
  }
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets, телефоны лопаты */
/* Portrait phones and smaller типа моего 6s */
/* Iphone 5 */